* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.blue_root {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6E74A9;
}

.blue_fragment {
  height: 100px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blue_root div {
  text-align: center;
}

.blue_root h1 {
  font-size: 50px;
  color: #1D1B6C;
} 

.blue_root a {
  font-size: 25px;
  background-color: #1D1B6C;
  display: inline-block;
  padding: 15px 28px;
  color: rgb(160, 159, 209);
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0 7px 10px -3px rgba(0,0,0,0.4);
  transition: transform 0.2s, box-shadow 0.2s;
}

.blue_root a:hover {
  transform: translateY(3px);
  box-shadow: 0 3px 5px -1px rgba(0,0,0,0.3);
}